@{
    ViewData["Title"] = "Home Page";
}
@model List<Author>

<h2> Author</h2>
<a asp-action="CreateAuthor">Add Author </a>

<table class="table">
    <thread>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Action</th>
        </tr>
    </thread>
    @if (Model == null)
    {
        <h2>Khong co Author nao</h2>
    }
    else
    {
        <tbody>
            @foreach (var author in Model)
            {
                <tr>
                    <td>@author.Id</td>
                    <td>@author.sFirstName</td>
                    <td>@author.sLastName</td>
                    <td>
                        <a href="@Url.Action("GetAuthor", "Home", new {authorID = author.Id})">Detail</a>
                        <a asp-action="UpdateAuthor" asp-route-id="@author.Id" )">Update</a>

                        <a asp-action="DeleteAuthor" asp-route-id="@author.Id" asp onclick="return confirm('Are you sure you want to delete this author?')">Delete</a>

                        
                    </td>
                </tr>
            }
        </tbody>
    }
</table>